{% extends 'contest/base.html' %}

{% block title %}Contest Information{% endblock %}

{% block content %}
<form action="{% url 'contest.views.contest.index' id=contest.id %}" method="POST">
    {% csrf_token %}
    <div class="row-fluid">
        <div class="span6">
            {% for field in edit_contest.form %}
                {% ifnotequal field.label "" %}
                {% ifnotequal field.label "Path" %}
                    <div class="control-group{% if field.errors %} error{% endif %}">
                        {{ field.label_tag }}
                        <div class="controls">
                            {{ field }}
                            <div class="help-inline">
                                {{ field.errors }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <input id="id_path" name="path" type="hidden" value="Path" />
                {% endifnotequal %}
                {% endifnotequal %}
            {% endfor %}
            <div>
                <input class="btn" type="submit" name="save" value="Save" />
            </div>
        </div>
    </div>
</form>
{% endblock %}
