{% extends 'contest/base.html' %}

{% block title %}Contest Information{% endblock %}

{% block content %}
<form action="{% url 'contest.views.contest.index' id=contest.id %}" method="POST">
    {% csrf_token %}
    <div class="row-fluid">
        <div class="span6">
            {% for field in edit_contest.form %}
                {% ifnotequal field.label "" %}
                {% ifnotequal field.label "Path" %}
                    <div class="control-group{% if field.errors %} error{% endif %}">
                        {{ field.label_tag }}
                        <div class="controls">
                            {{ field }}
                            <div class="help-inline">
                                {{ field.errors }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <input id="id_path" name="path" type="hidden" value="Path" />
                {% endifnotequal %}
                {% endifnotequal %}
            {% endfor %}
            <div>
                <input class="btn" type="submit" name="save" value="Save" />
                <input class="btn" type="submit" name="save_and_generate" value="Save &amp; Generate PDF" />
            </div>
        </div>
    </div>
</form>
<p><b>Problems</b>
{% for problem in contest.contestproblem_set.all %}
    <p><a href="{% url 'delete' contest.id problem.problem.id %}">X</a> {{problem.id_in_contest}}. {{ problem.problem.name }} ({{problem.problem.path}})
{% endfor %}
</ul>
{% if pdf_exists %}
<iframe height="1000" class="statements-frame" src="{% url "contest.views.contest.view_statement" contest.id %}"></iframe>
{% endif %}
{% endblock %}

