{% extends 'contest/base.html' %}

{% block title %}Contest Information{% endblock %}

{% block content %}
<div class="row-fluid">
<div class="span6">
<form action="{% url 'contest' id=contest.id %}" method="POST">
    {% csrf_token %}
    <div class="row-fluid">
        <div class="span6">
            {% for field in edit_contest.form %}
                {% ifnotequal field.label "" %}
                {% ifnotequal field.label "Path" %}
                    <div class="control-group{% if field.errors %} error{% endif %}">
                        {{ field.label_tag }}
                        <div class="controls">
                            {{ field }}
                            <div class="help-inline">
                                {{ field.errors }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <input id="id_path" name="path" type="hidden" value="Path" />
                {% endifnotequal %}
                {% endifnotequal %}
            {% endfor %}
            <div>
                <input class="btn" type="submit" name="save" value="Save" />
                <input class="btn" type="submit" name="save_and_generate" value="Save &amp; Generate PDF" />
            </div>
        </div>
    </div>
</form>
</div>
<div class="span6">
<b>Problems</b>
{% for problem in contest.contestproblem_set.all %}
    <p><a href="{% url 'delete' contest.id problem.problem.id %}">X</a> 
       {{problem.id_in_contest}}. 
       <a href="{% url 'problem' problem.problem.id %}">{{ problem.problem.name }}</a> ({{problem.problem.path}})
{% endfor %}
<p><b>Insert problem</b>
<form action="{% url 'insert_problem' id=contest.id %}" method="POST">
    {% csrf_token %}
    {% for field in insert_problem.form %}
        {{ field.label}} {{ field }} 
    {% endfor%}
    <input class="btn" type="submit" name="Insert" value="Insert" />
</form>
</ul>
</div>
</div>
{% if pdf_exists %}
<iframe height="1000" class="statements-frame" src="{% url "contest.views.contest.view_statement" contest.id %}"></iframe>
{% endif %}

{% endblock %}

