@import 'bootstrap.min.css';

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.todo {
}
    .todo table {
        width: 100%;
        margin-bottom: 15px;
    }
    .todo tr > td:last-child {
        text-align: center;
        width: 30px;
    }

.problem-name {
    font-size: 180%;
    margin-bottom: 0.4em;
}
.problem-path {
    color: #777;
    margin-bottom: 1.5em;
}

form label {
    font-weight: bold;
}
form textarea {
    width: 100%;
    box-sizing: border-box;
}
