<ul class="nav nav-list">
    <li>
        <a href="#"><i class="icon-cog"></i> Settings</a>
    </li>
    <li>
        <a href="{% url 'problem.views.problem.statements' id=problem.id %}"><i class="icon-file"></i> Statements</a>
    </li>
    <li>
        <a href="{% url 'problem.views.problem.tests' id=problem.id %}"><i class="icon-list"></i> Tests</a>
    </li>
    <li>
        <a href="{% url 'problem.views.problem.solution' id=problem.id %}"><i class="icon-ok-sign"></i> Solutions</a>
    </li>
</ul>
