{% extends 'problem/base.html' %}

{% block title %}Solutions{% endblock %}

{% block content %}
<div class="well">
    <ul>
    {% for solution in problem_solution.solutions %}
        <li>{{ solution }}</li>
    {% endfor %}
    </ul>
</div>

<div class="well">
    <form action="{% url 'problem.views.problem.solutions' id=problem.id %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div>
            {{ problem_solution.form.as_p }}
        </div>
        <div>
            <input class="btn" type="submit" value="Save" />
        </div>
    </form>
</div>
{% endblock %}
