{% extends 'problem/base.html' %}

{% block title %}Solutions{% endblock %}

{% block content %}
<div class="well">
    <table class="table table-condensed">
        <thead>
            <th>Test #</th>
            {% for solution in retest.solutions %}
            <th>{{ solution }}</th>
            {% endfor %}
        </thead>
        <tbody>
            <tr>
                <td>Expected verdicts:</td>
                {% for expected_verdicts in retest.expected_verdicts %}
                    <td>{% for expected_verdict in expected_verdicts %} {{ expected_verdict }} {% endfor %}</td>
                {% endfor %}
            </tr>          
            <tr>
                <td>Possible verdicts:</td>
                {% for possible_verdicts in retest.possible_verdicts %}
                    <td>{% for possible_verdict in possible_verdicts %} {{ possible_verdict }} {% endfor %}</td>
                {% endfor %}
            </tr>          
            {% for row in retest.output %}
            <tr>
                <td>{{ forloop.counter }}</td>
                {% for result in row %}
                <td class="verdict-{{ result.verdict|default:'none' }}">
                    {{ result.verdict|default:'—' }}
                    {% if result.time %}
                    {{ result.time|floatformat:2 }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <form action="{% url 'problem.views.problem.solutions' id=problem.id %}" method="POST">
                    {% csrf_token %}
                    {% for solution in retest.solutions %}
                    <td>
                        <input class="btn" type="submit" name="{{solution}}_retest" value="Test" />
                    </td>
                    {% endfor %}
                </form>
            </tr>
        </tbody>
    </table>
</div>

<div class="well">
    <form action="{% url 'problem.views.problem.solutions' id=problem.id %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div>
            {{ upload_solution.form.as_p }}
        </div>
        <div>
            <input class="btn" type="submit" name="submit_file" value="Save" />
        </div>
    </form>
</div>
{% endblock %}
