{% extends 'problem/base.html' %}

{% block title %}Tests{% endblock %}

{% block content %}
{% if manage_tests.error %}
<div class="alert alert-error">
    <a href="#" class="close" data-dismiss="alert">×</a>
    <h4>Error</h4>
    {{ manage_tests.error }}
</div>
{% endif %}

<form action="{% url 'problem.views.problem.tests' id=manage_tests.problem_id %}" method="POST" enctype="multipart/form-data">
    <div>
        {% csrf_token %}
        <div class="well">
            <h4>Load file</h4>
            {% for field in manage_tests.upload_files.form %}
                {{ field.label_tag }}
                {{ field }}
            {% endfor %}
        </div>
        {% for field in manage_tests.form %} 
            {{ field.label_tag }}
            {{ field }}
        {% endfor %}
    </div>
    <div>
        <input class="btn" type="submit" name="save" value="Save" />
        <input class="btn" type="submit" name="generate_tests" value="Save &amp; generate tests" />
        <input class="btn" type="submit" name="validate" value="Save &amp; validate" />
    </div>
</form>
{% endblock %}
