<table class="todo-status">
    {% for item, status in todo.status_description %}
    <tr>
        <td>{{ item }}</td>
        <td>
            <i class="icon-{% ifequal status 'ok' %}ok{% else %}{% ifequal status 'default' %}adjust{% else %}remove{% endifequal %}{% endifequal %}" title="{{ status }}"></i>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td>sample tests</td>
        <td>
            <i {% if todo.samples_present %}class="icon-ok" title="You have specified sample tests"{% else %}class="icon-remove" title="No sample tests found"{% endif %}></i>
        </td>
    </tr>
</table>

<table class="todo-tests">
    <tr>
        <td>generated tests</td>
        <td><span class="badge">{{ todo.tests_count }}</span></td>
    </tr> 
</table>
