<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/common.css" />
    <title>Please — {% block title %}:){% endblock %}</title>
</head>

<body>
    <ul class="navigation">
        {% block navigation %}
        <li>
            <a href="{% url 'problem.views.statements.common' id=problem_id %}">Statements</a>
        </li>
        {% endblock %}
    </ul>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="todo">
        {% include 'todo.html' %}
    </div>
</body>
</html>
