<p>
    Problems:
    <a href="{% url 'problem.views.problems.create' %}">Create</a>
    <a href="{% url 'problem.views.problems.add' %}">Add existing</a>
</p>

<table border="0" cellpadding="5" cellspacing="0">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Tags</th>
        <th>Materials</th>
        <th>Tests</th>
        <th>Todo</th>
        <th>Files</th>
    <tr>
    {% for problem in problems %}
        <tr>
            <td>{{problem.id}}</td>
            <td>{{problem.name}}</td>
            <td>{% for tag in problem.tags.all %}
                <a href="/?tags={{tag.name}}">{{tag.name}}</a>;
                {% endfor %}
                <a href="{% url 'edit_tags' id=problem.id %}">Edit</a>
            </td>
            <td>
                <a href="{% url 'problem.views.statements.common' id=problem.id %}">Edit</a>
            </td>
            <td>
                <a href="{% url 'problem.views.tests.show' id=problem.id %}">Edit</a>
            </td>
            <td>
                <a href="{% url 'problem.views.todo.show' id=problem.id %}">Show</a>
            </td>
            <td>
                <a href="{% url 'file_upload' id=problem.id %}">Upload</a>
            </td>
        </tr>
    {% endfor %}
</table>
