<table border = "1" width="600">
    <tr>
      <td width="20">#</td>
      <td align="center">input</td>
      <td align="center">output</td>
    </tr>
    {% for input_data, output_data, input_file, output_file, big_input, big_output in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {{ input_data }}
                {% if big_input == True %}
                    <p><a href = {{ input_file }} target = _blank> Download file </a>
                {% endif %}
            </td>
            <td>
                {{ output_data }}
                {% if big_output == True %}
                    <p><a href = {{ output_file }} target = _blank> Download file </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
