{% extends 'base.html' %}

{% block sidebar %}
<div class="well sidebar-nav">
    {% include 'problem/navigation.html' %}
</div>
<div>
	{% include 'problem/shortcuts.html' %}
</div>
<div class="todo well">
    {% include 'problem/todo.html' %}
</div>
<div class="dir well">
    {% include 'problem/files.html' %}
</div>
{% endblock %}

{% block main %}
<div class="content-title">Problem «{{ problem.name|default:"[no name]" }}»</div>
<div class="content-subtitle">{{ problem.path }}</div>
{% if error %}
<div class="alert alert-error">
    <a href="#" class="close" data-dismiss="alert">×</a>
    <h4>Error</h4>
    {{ error }}
</div>
{% endif %}
<div class="content">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}
