{% extends 'problem/base.html' %}

{% block title %}Statements{% endblock %}

{% block content %}
<script type="text/javascript">
    $(function() {
        $('textarea').each(function(index) {
            var editor = CodeMirror.fromTextArea(this, {
                lineWrapping: true,
                lineNumbers: true,
                firstLineNumber: $(this).attr('name') == 'statement' ? 34 : 1,
            });
        });
    });
</script>

<form action="{% url 'problem.views.problem.statements' id=problem.id %}" method="post">{% csrf_token %}
    <div>
        {% for field in edit_dict.form %}
            {{ field.label_tag }}
            {{ field }}
        {% endfor %}
    </div>
    <div>
        <input class="btn" type="submit" value="Save" />
        <input class="btn" type="submit" name="save_and_generate" value="Save &amp; Generate statement" onclick="$('.alert').alert('close');" />
    </div>
</form>
{% endblock %}
