{% extends 'base.html' %}

{% block title %}Solutions{% endblock %}

{% block content %}

<ul>
{% for solution in problem_solution_add.solutions %}
    <li>{{ solution }}</li>
{% endfor %}
</ul>


<form action="{% url 'solution_add' problem_id %}" enctype="multipart/form-data" method=POST>{% csrf_token %}
    <div>
        {% for field in problem_solution_add.form %}
            <p>{{ field.label_tag }}:<br />
            {{field}} </p>
        {% endfor %}
    </div>
    <div><input class="btn" type="submit" value="Submit" /></div>
</form>

{% endblock %}
