<form action="{% url 'file_upload' id=upload_main_dict.id %}" enctype="multipart/form-data" method='POST'>{% csrf_token %}
    <p>
        Choose one of default checkers {{upload_main_dict.form.select_checker}} or upload your own checker (current path: {{ upload_main_dict.problem.checker_path }}): {{ upload_main_dict.form.checker }}
    </p>
    <p>
        Upload your own validator (current path: {{ upload_main_dict.problem.validator_path }}): {{ upload_main_dict.form.validator }}
    </p>
    </table>

    <input type="submit" value="Submit" />
</form>
<p><a href="{% url 'additional_upload' id=upload_main_dict.id %}">Go to additional upload page</a></p>
