<p>
    Problems:
    <a href="{% url 'problem.views.problems.create' %}">Create</a>
    <a href="{% url 'problem.views.problems.add' %}">Add existing</a>
    <a href="{% url 'problem.views.problems.add_tree' %}">Add tree</a>
</p>

<table border="0" cellpadding="5" cellspacing="0">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Tags</th>
    <tr>
    {% for problem in problems %}
        <tr>
            <td>{{problem.id}}</td>
            <td><a href="{% url 'problem_statement' problem.id%}">{{problem.name}}</a></td>
            <td>{{ problem.tags.all | join:", " }}</td>
        </tr>
    {% endfor %}
</table>
