@import 'bootstrap.min.css';

header {
    margin: 10px 0 10px 0;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

.todo {
}
    .todo table {
        width: 100%;
        margin-bottom: 15px;
    }
    .todo tr > td:last-child {
        text-align: center;
        width: 30px;
    }

footer {
    margin-bottom: 30px;
}