@import 'bootstrap.min.css';
@import 'codemirror.css';

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.sidebar {
    position: relative;
    top: 0;
    left: auto;
    width: 200px;
    float: left;
}
.fixed-fluid {
    margin-left: 220px;
}

.todo {
}
    .todo table {
        width: 100%;
        margin-bottom: 15px;
    }
    .todo tr > td:last-child {
        text-align: center;
        width: 30px;
    }
.dir {
}
    .dir h6 {
        padding: 0;
        font-size: 11px;
        font-weight: bold;
        line-height: 20px;
        color: #999;
        text-transform: uppercase;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }
    .dir ul {
        font-size: 90%;
        list-style: none;
        margin: 0;
    }

.content-title {
    font-size: 180%;
    margin-bottom: 0.4em;
}
.content-subtitle {
    color: #777;
    margin-bottom: 1.5em;
}

.tags {
    margin-bottom: 20px;
}
    .tags ul {
        list-style: none;
        margin: 0;
    }
    .tags label {
        font-weight: normal;
    }

.CodeMirror {
    height: auto !important;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    margin-bottom: 15px;
}
    .CodeMirror-scroll {
        height: auto !important;
        overflow-y: hidden;
        font-size: 12px;
        max-height: 220px;
    }

.upload-cv td {
    padding: 2px 15px 2px 0;
}

.well-done {
    font-size: 90%;
    width: auto;
}
    .well-done th, .well-done td {
        min-width: 45px;
        text-align: center;
    }
    .well-done th:first-child, .well-done td:first-child {
        text-align: left;
    }
.tests {
    font-size: 90%;
}
    .tests pre {
        font-size: inherit;
        padding: 0;
        background-color: transparent;
        border: 0;
    }
    .download-test {
        text-decoration: underline;
        font-weight: bold;
    }
.verdict-OK {
    color: #3DAD00;
}
.verdict-PE, .verdict-RE, .verdict-WA {
    color: #92010E;
}
.veridct-TL, .verdict-ML {
    color: #006D8F;
}

form label {
    font-weight: bold;
}
form input[type='file'] {
    margin-bottom: 15px;
}
form textarea {
    width: 100%;
    box-sizing: border-box;
}
.well form, .modal form {
    margin: 0 !important;
}